<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 20px;">


            <label>Title</label>
            <input class="form-control" id="disabledInput" type="text" placeholder="{{ups.title}}" disabled>
            <br>
            <label>Description</label>
            <textarea class="form-control" readonly>
               {{ ups.description }}
            </textarea>
<!--            {{ form.description }}-->

            <!-- Modal footer -->
            <br>
        <form method="post" action="">
            {% csrf_token %}

            {% if ups.completed == True %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="com2">
                    <label class="form-check-label">Incomplete</label>
                </div>
            {% else %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="com">
                    <label class="form-check-label" for="inlineCheckbox1">Completed</label>
                </div>
            {% endif %}
            <input type="submit" class="btn btn-primary" style="margin-left: 20px;" value="Update">
            <br><br>
            <a href="/"> Back</a>
        </form>

    </div>
</body>
</html>