<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
    <div class="container">
        <h2>Tasks | Login</h2>
        <hr><br>
        {% load crispy_forms_tags %}
        <form method="post" action="" class="form-group ">
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                
                <p>
                    Don't have an account? Create on <a href="/account/register">here</a>
                </p>
            </div>

             <input type="submit" class="btn btn-primary" value="Login">
        </form>

    </div>
</body>
</html>